{{ template "base" . }}

{{ define "title" }} Log In {{ end }}

{{ define "content" }}
<h3> <a href="/register"> Register </a> </h3>
<h1> Log In </h1>
<form hx-post="/login" hx-target="#content" hx-target-error="#response" hx-swap="innerHTML">
	<label for="email"> Email: </label><br>
	<input type="text" id="email" name="email" required /><br><br>

	<label for="password"> Password: </label><br>
	<input type="password" id="password" name="password" required /><br><br>

	<button type="submit"> Log In </button>
</form>
<p id="response"></p>
{{ end }}

