{{ template "base" . }}

{{ define "title" }} Register User {{ end }}

{{ define "content" }}
<h3> <a href="/auth/login"> Log In </a> </h3>
<h1> Register User </h1>
<form hx-post="/auth/register" hx-target="#content" hx-target-error="#response" hx-swap="innerHTML">
	<label for="email"> Email: </label><br>
	<input type="text" id="email" name="email" required /><br><br>

	<label for="password"> Password: </label><br>
	<input type="password" id="password" name="password" required /><br><br>

	<label for="password_confirm"> Confirm Password: </label><br>
	<input type="password" id="password_confirm" name="password_confirm" required /><br><br>

	<button type="submit" value="Register"> Register </button>
</form>
<p id="response"> </p>
{{ end }}
