<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log In</title>
</head>
<body>
	<h1> Log In </h1>
	<form action="/login" method="post">
		<label for="email"> Email: </label><br>
		<input type="text" id="email" name="email" required /><br><br>

		<label for="password"> Password: </label><br>
		<input type="text" id="password" name="password" required /><br><br>

		<button type="submit" value="Register"> Log In </button>
	</form>
</body>
</html>
